body {
  margin: 0;
  overflow-y: scroll;
  font-family: 'Eczar', serif;
}

body::-webkit-scrollbar {
  display: none;
}


.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004471;

}

.logo {
  padding: 10px;

  text-transform: uppercase;
  padding-left: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  padding-right: 20px;
}

.nav ul li {
  padding: 15px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  color: #68C7EC;
  transition: 500ms ease-in;
}

#hero-img {
  height: 80vh;
  background: url('./bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero-text {
  background-color: #fff;
  height: 30vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #fff;
}

.hero-text h1 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #004471;
  font-size: 40px;
  font-weight: ExtraBold;
  margin-top: 0;
}

.hero-text h2 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #004471;
  font-size: 20px;
  margin-bottom: 0;
}

.categories {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 60px;
}

.categ {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 50px;
  border: 1px solid black;
  align-items: center;
}

.categ h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
}

.categ p {
  text-align: center;
}

#projects {
  border-right: 0;
  border-left: 0;
}

.empButton {
  border: 2px solid #004471;
  padding: 10px;
  color: #004471;
  text-decoration: none;
  transition: ease-in 400ms;
}

.empButton:hover {
  background-color: #004471;
  color: white;
}

.fillButton {
  border: 2px solid #004471;
  padding: 10px;
  background-color: #004471;
  color: white;
  text-decoration: none;
  transition: ease-in 400ms;
  margin-top: 25px;
}

.fillButton:hover {
  color: #004471;
  background-color: white;
}

.about {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('./bg.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.about h2 {
  padding-top: 60px;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 0;
}

.about p {
  text-align: center;
  padding: 80px 400px;
  margin-bottom: 0;
  font-size: 20px;
}

.clients {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.client {
  text-align: center;
  padding: 40px;
  word-wrap: normal;
  border-top: 1px solid black;
  border-right: 1px solid black;

}

.ourclients h2 {
  padding-top: 60px;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 0;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: #000030;
  color: #E6E9EC;
}

.footer h3 {
  text-transform: uppercase;

}

.addr {
  padding: 40px;
}

.menu {
  padding: 40px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  padding: 4px 0;
}

.menu ul li:hover {
  color: #68C7EC;
  transition: 500ms ease-in;
}

.socials {
  padding: 40px;

}


.contact {
  background-color: #004471;
}